@import '../variables';

mat-grid-list.dashboard {
  margin-right: 10px;

  mat-grid-tile {
    border: 5px solid #fff;

    .mat-grid-tile-header {
      height: auto;
      padding: 8px 24px;
      background-color: transparent;

      span {
        font-size: 70px;
        font-weight: 900;
        &.medium {
          font-size: 32px;
        }
      }

      mat-icon {
        font-size: 45px;
        margin-top: 14px;
      }
    }

    .mat-grid-tile-footer {
      height: auto;
      background-color: rgba(0,0,0,.08);

      span {
        font-size: 20px;
        padding: 8px 0;
        text-transform: uppercase;
      }

      mat-icon {
        width: 36px;
        height: 36px;
        font-size: 36px;
        cursor: pointer;
      }
    }

    &.success {
      background-color: $primary;
    }

    &.error {
      background-color: #f44336;
    }

    &.warning {
      background-color: #ffc107;
    }

    &.disabled {
      background-color: rgba(0,0,0,.25);

      .mat-grid-tile-footer {
        background-color: rgba(0,0,0,.3);
      }
    }

    &.purple {
      background-color: #ab47bc;
    }   
     
    &.link:hover {
      cursor: pointer;
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
    }

    &.purple.link:hover {
      cursor: pointer;
      -webkit-transform: scale(1.01);
      transform: scale(1.01);
    }
  }
}
