<ion-app>
  <mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
      <p>Inside sidenav draw</p>
    </mat-drawer>
    <mat-toolbar>
      <button mat-icon-button class="menu-icon"
        (click)="drawer.toggle()"
        aria-label="Menu icon-button"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">MiFinance</span>
      <!--<span class="toolbar-spacer"></span> -->
      <button mat-icon-button class="add-icon"
       aria-label="Add icon-button"
       (click)="openAddExpenseDialog()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Main Page component here -->
    <router-outlet></router-outlet>
  </mat-drawer-container>
</ion-app>
