<ion-app>
  <mat-sidenav-container class="uxg-nav">
    <mat-sidenav #sidenav>
      <div class="uxg-nav-header">
        <div class="uxg-logo"></div>
      </div>
      <mat-nav-list class="uxg-nav-list">
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/home']" [routerLinkActive]="'uxg-list-item-selected'">
          <p>Home</p>
        </a>
        <a mat-list-item>
          <p>Pay/Record</p>
        </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/accounts']" [routerLinkActive]="'uxg-list-item-selected'">
          <p matBadge="3" class="uxg-side-badge">Accounts</p>
        </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/transactions']" [routerLinkActive]="'uxg-list-item-selected'">
          <p>Transactions List</p>
        </a>
        <a mat-list-item (click)="sidenav.toggle()" [routerLink]="['/analytics']" [routerLinkActive]="'uxg-list-item-selected'">
          <p>Analytics</p>
        </a>
        <a mat-list-item>
          <p>About</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-app-bar (toggleSidenav)="sidenav.toggle()"></app-app-bar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</ion-app>
