//New Styles here
.sidenav-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.sidenav {
  padding: 20px;
}

.toolbar-title {
  text-align: center;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: var(--primary);
  color: white;
  justify-content: space-between;
  margin-bottom: 10px;
}