<div class="home-container">
  <mat-card class="top-card">
    <mat-card-title>Budget Summary</mat-card-title>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="5em">
        <mat-grid-tile>
          <div class="left-align-forced">
            <div>Budgeted</div>
            <div class="aligned-with-icon">
              <mat-icon>currency_pound</mat-icon>
              <span class="align-with-icon">5000</span>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="left-align-forced">
            <div>Total</div>
            <div class="aligned-with-icon">
              <mat-icon>currency_pound</mat-icon>
              <span class="align-with-icon">0</span>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="left-align-forced">
            <div>Spent</div>
            <div class="aligned-with-icon">
              <mat-icon class="spent">currency_pound</mat-icon>
              <span class="align-with-icon">4829</span>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="left-align-forced">
            <div>Remaining</div>
            <div class="aligned-with-icon">
              <mat-icon class="remaining">currency_pound</mat-icon>
              <span class="align-with-icon">1871</span>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="bot-card">
    <mat-card-content>
      <mat-grid-list cols="2">
        <mat-grid-tile>
          <button mat-button>
            <mat-icon aria-hidden="false" aria-label="Camera Icon">photo_camera</mat-icon>
            <div>Pay/Record</div>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon aria-hidden="false" aria-label="Account Balance Icon">account_balance</mat-icon>
            <div>Accounts</div>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button (click)="onTransactions()">
            <mat-icon aria-hidden="false" aria-label="Transaction List Icon">format_list_bulleted</mat-icon>
            <div>Transactions List</div>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon aria-hidden="false" aria-label="Analytics Icon">analytics</mat-icon>
            <div>Analytics</div>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
  <button mat-fab class="md-fab-bottom-right"
    aria-label="Add icon-button"
    color="gradient"
    (click)="openAddExpenseDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>