@import '../../styles/variables';

.mat-card {
    width: 90%;
    //display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.top-card {
  width: 90%;
  //.mat-card-title{
    //color: var(--primary);
  //}
  .left-align-forced {
    width: 100%
  }
  .mat-icon {
    margin-top: 2px;
    margin-right: 0x;
    padding-right: 0px;
  }
  .spent {
    color: red;
  }
  .remaining {
    color: green;
  }
}

.aligned-with-icon {
  display: flex;
  align-items: center;
}

.bot-card {
    height: 100%;
    color: var(--primary);
    text-align: center;
    .mat-card-content {
      .mat-grid-list{
        .mat-grid-tile {
          height: 85%;
          width: 100%;
        }
      }
    }
    .mat-icon {
      transform: scale(5);
      text-align: center;
      margin-bottom: 20px;
      margin-top: 5px;
    }
}


.md-fab-bottom-right {
  position: fixed !important;
  right: 7%;
  bottom: 4%;
}

.mat-icon {
  vertical-align: top;
  font-size: 1.25em;
}

.home-container {
  height: 50%;
  width: 100%;
}